.content
{
    margin: 100px auto 0 auto;
    width: 1260px;
    height: 1320px;
    /*background-color: #61dafb;*/
}
.content_title
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.017em;
    color: #262435;
    text-align:left;
}
.image
{
    width: 424px;
    height: 274px;
    border-radius: 10px;
    background-size:100% 100%;
    float: left;
}

.article_title
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.017em;
    color: #262435;
    text-align:left;
    position: relative;
    display: inline-block;
}

.wrapper_article
{
    float: left;
    width: 700px;
    text-align:left;
    height: 274px;
    margin-left: 37px;
    position:relative;
}

.article_description
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.017em;
margin-top:20px;
    /* Blaak */

    position: relative;
    /*margin-left: 37px;*/
height: 80%;
    color: #262435;
}

.read_more
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.017em;
    color: #514F64;
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}


.article
{
    margin-top: 50px;
    display: inline-block;
}


.close_button
{
   position: absolute;
    top:0;
    right: 0;

}

.star
{
    cursor: pointer;
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    text-align:right;
    /*position: relative;*/
    display: inline-block;
    margin-left: 50px;
    padding-top: 0;
}



.close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    float: right;
    /* Colors/Arroy */
    background-color: #FFFFFF;
    border: 0;
    /*border: 2px solid #DBDBD6;*/
    /*transform: rotate(90deg);*/
    z-index: 5;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    top:0 px;
    right: 0px;
    content: ' ';
    height: 29px;
    width: 2px;
    background-color: #DBDBD6;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

