.content
{
    margin: 100px auto 250px auto;
    width: 1260px;
    /*height: 1320px;*/
    /*background-color: #61dafb;*/
}
.content_title
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.017em;
    color: #262435;
    text-align:left;
}
.image
{
    width: 424px;
    height: 274px;
    border-radius: 10px;
    background-size:100% 100%;
    float: left;
}

.artical_title
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.017em;
    color: #262435;
    text-align:left;
     position: relative;
}

.wrapper_artical
{
    float: left;
    width: 700px;
    text-align:left;
    height: 274px;
    margin-left: 37px;
}

.artical_description
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.017em;
margin-top:20px;
    /* Blaak */

    position: relative;
    /*margin-left: 37px;*/
height: 80%;
    color: #262435;
}

.read_more
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.017em;
    color: #514F64;
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.star
{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}