.footer
{
    background-color: #D5D7C3;
/*height:300px;*/
/*    position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.logo{
   height: 73px;
    width: 270px;
    background-size:100% 100%;
    background-image: url("../public/logo.svg");
}

.footer_text{
    width: 51%;
}