.hidden {
    position: fixed;
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    top: 0;
    left: 0;
}

.registration_lightbox
{
    /*position: relative;*/
    width: 535px;
    height: 620px;
    /* Colors/White */
    padding-top: 1px;
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 12;
}

.background_block
{
    position: fixed;
    padding-top: 10px;
    width: 535px;
    height: 541px;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -35%);
    z-index: 11;
    background: #CFD3A0;
    border-radius: 15px;
}

.title
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    letter-spacing: -0.017em;
    color: #514F64;
    margin: 38px auto 0 auto;
}

.name
{
    /*position: absolute;*/
    width: 426px;
    height: 62px;

    /* Colors/Gray */

    border: 2px solid #7E7C8F;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.017em;

    /* Colors/Arroy */

    color: #DBDBD6;
    padding: 18px;
    margin: 25px auto 0 auto;
    display: block;
}

.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    top:23px;
    right: 37px;
    content: ' ';
    height: 29px;
    width: 2px;
    background-color: #DBDBD6;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


.email {
    /*position: absolute;*/
    width: 426px;
    height: 62px;

    /* Colors/Gray */

    border: 2px solid #7E7C8F;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.017em;

    /* Colors/Arroy */

    color: #DBDBD6;
    padding: 18px;
    margin: 20px auto 0 auto;
    display: block;
}



.password {
    /*position: absolute;*/
    width: 426px;
    height: 62px;

    /* Colors/Gray */

    border: 2px solid #7E7C8F;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: -0.017em;

    /* Colors/Arroy */
display: block;
    color: #DBDBD6;
    padding: 18px;
    margin: 25px auto 0 auto;

}


.registration
{

    width: 426px;
    height: 62px;
    margin: 60px auto 10px auto;
    border: 0px;
    /* Colors/Green */

    background: #CFD3A0;
    border-radius: 10px;
    /*padding: auto;*/
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.017em;
    /* Colors/White */
    cursor: pointer;
    color: #FFFFFF;
    display: block;
}

.registration_text
{
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.017em;

    /* Colors/Gray */

    color: #7E7C8F;
    margin-top: 0;
}