.hidden {
    position: fixed;
    display: inline-block;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    top: 0;
    left: 0;
}

.background_block
{    top: 35%;
    left: 50%;
    padding: 0;
    margin-right: -50%;
    transform: translate(-50%, -30%);
    position: fixed;
    width: 700px;
    height: 400px;
    /*left: 684px;*/
    /*top: 147px;*/
    z-index: 11;
    background: #CFD3A0;
    border-radius: 15px;
    padding-top: 10px;
}

.authorization_lightbox
{
    /*position: fixed;*/
    width: 700px;
    height: 396px;
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, -50%);*/
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 12;
    text-align: center;
    padding-top: 1px;
}

.title {
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    letter-spacing: -0.017em;
    color: #514F64;
    margin: 38px auto 0 auto;
}

/*close {*/
/*    position: absolute;*/

/*    width: 32px;*/
/*    height: 32px;*/
/*    opacity: 0.3;*/
/*}*/
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    top:23px;
    right: 37px;
    content: ' ';
    height: 29px;
    width: 2px;
    background-color: #DBDBD6;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.button
{
    width: 324px;
    height: 60px;
    background: #CFD3A0;
    border-radius: 10px;
    font-family: Arsenal;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.017em;
    color: #FFFFFF;
    border-width: 0;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
}